{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <!-- NAVBAR -->

    <nav>
      <div class="logo">BlogSpace</div>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">About</a></li>
      </ul>

      {% if request.user.is_authenticated %}
      <div class="profile-container">
        <div class="profile">
          <img src="{{request.user.profile.profile_pic.url}}" alt="profile" />
          <div class="dropdown">
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
            <a href="#">My Blogs</a>
            <!-- <a href="#">Settings</a> -->
            <a href="{% url 'logout' %}">Logout</a>
            {% if not request.user.profile.is_creator %}
            <a href="{% url 'home' %}">Become a Creator</a>
            {% endif %}
          </div>
        </div>
        
          {% if request.user.profile.is_creator %}
          <div class="create-button">
            <a class="nav-btn" href="/create">Create Blog</a>
          </div>
          {% endif %}
      </div>
      {% else %}
      <a href="{% url 'login' %}" class="nav-btn">Login</a>
      {% endif %}
    </nav>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% block body %}{% endblock %}

    <!-- FOOTER -->

    <footer>© 2026 BlogSpace. All rights reserved.</footer>
  </body>
</html>
